  <section>
    <header>
        <!-- <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet"> -->
      <app-header></app-header>
    </header>
    <!-- <aside>
      <app-menu></app-menu>
    </aside> -->
    <main>
      <router-outlet></router-outlet>
      <!-- <app-home></app-home>
      <app-admin></app-admin>
      <app-company></app-company>
      <app-customer></app-customer>
      <app-login></app-login> -->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </section> 





  <!-- <nav>
    <a routerLink="/home">Home</a> |
    <a routerLink="/admin">Admin</a> |
    <a routerLink="/company">Company</a> |
    <a routerLink="/customer">Customer</a> |
    <a routerLink="/login" *ngIf="!loginService.isLoggedIn">Login</a>
    <a href="javascript:void" (click)="logout()" *ngIf="loginService.isLoggedIn">Logout</a>
</nav>

<h1>Welcome to Coupon System!</h1>
<hr>

<router-outlet></router-outlet> -->
