<h3>Admin Page</h3>

<!--<div>
  <a class = 'admin-menu'>{{pageTitle}}</a>
                <ul class = 'menu'>
                    <li><a [routerLink]= "['Details']">Details</a></li>
                    <li><a [routerLink]= "['compOperations']">Company Operations</a></li>
                    <li><a [routerLink] = "['custOperations']">Customer Operations</a></li>
                </ul>
</div>-->

<div>
  <!-- <a class = 'admin-menu'>{{pageTitle}}</a><br> -->
    <!--<li><a [routerLink]= "['Details']">Details</a></li>-->
    <a [routerLink]= "['details']">Details</a> |
    <a [routerLink]= "['compOperations']">Company Operations</a> |
    <a [routerLink] = "['custOperations']">Customer Operations</a>
                
</div>

<router-outlet></router-outlet>
