

<div>
    <p class="row">
      <marquee behavior="slide" direction="left" scrollamount="5">
        <button type="submit" class="button"> RESTAURANTS  <i class= "fa fa-user-circle-o" style="font-size:20px;"></i></button>|

        <button type="submit" class="button">    ELECTRICITY  <i class= "fa fa-user-circle-o" style="font-size:20px;"></i></button>|

        <button type="submit" class="button">    FOOD  <i class= "fa fa-user-circle-o" style="font-size:20px;"></i></button>|

        <button type="submit" class="button">    HEALTH  <i class= "fa fa-user-circle-o" style="font-size:20px;"></i></button>
        </marquee>
         <marquee behavior="slide" direction="right" scrollamount="5">
          <button type="submit" class="button">  SPORTS  <i class="fa fa-user-circle-o" style="font-size:20px;"></i></button>|
          <button type="submit" class="button">  CAMPING  <i class="fa fa-user-circle-o" style="font-size:20px;"></i></button>|
          <button type="submit" class="button"> TRAVELLING  <i class="fa fa-user-circle-o" style="font-size:20px;"></i></button>|
          <button type="submit" class="button">   DRINKS <i class="fa fa-user-circle-o" style="font-size:20px;"></i></button>

        
      </marquee>
    </p>
  </div>