<div>
  <h4>Update Company</h4>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <div class="form-group">
        <input type="text" placeholder="Company ID" id="companyId" ngModel name="companyId" required/><br /><br />
      </div>
      <div class="form-group">
        <input type="text" placeholder="New Company Name" id="newCompanyName" ngModel name="newCompanyName" required/><br /><br />
      </div>
      <div class="form-group">
        <input type="password" placeholder="New Company Password" id="newCompanyPassword" ngModel name="newCompanyPassword" required/><br /><br />
      </div>
      <div class="form-group">
        <input type="text" placeholder="New Company Email" id="newCompanyEmail" ngModel name="newCompanyEmail" required/><br /><br />
      </div>
      <input type="submit" [disabled]="!f.valid" />
    </div>
  </form>
  <br /><br />
  <div *ngIf = 'responseString && responseString.length; else falsyTemplate'>
   {{responseString}}<br />
  </div>
  <ng-template #falsyTemplate></ng-template>
</div>
