<h3>Customer Page</h3>

<!-- <div>
  <nav>
    <a class = 'customer-menu'>{{pageTitle}}</a><br>
      <a routerLink="/purchaseCoupon">Purchase Coupon</a> |
      <a routerLink="/viewAllMyCoupons">View All My Coupons</a> |
      <a routerLink="/viewAllMyCouponsByPrice">View All My Coupons By Price</a> |
      <a routerLink="/viewAllMyCouponsByType">View All My Coupons By Type</a> |
  </nav>
</div> -->

<div>
  <!-- <a class = 'customer-menu'>{{pageTitle}}</a><br> -->
    <a [routerLink]= "['custDetails']">Customer Details</a> |
    <a [routerLink]= "['couponList']">Coupon List</a> |
    <a [routerLink]= "['custActions']">Customer Actions</a>
</div>

<router-outlet></router-outlet>